@model ProductMenuViewModel
@{
    ViewData["Title"] = "Menu";
}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                @foreach (Category category in ViewBag.Categories)
                {
                    <li class="nav-item nav-item-center">
                        <a asp-action="Menu" asp-route-id="@category.CategoryName"
                           class="d-flex list-group-item align-items-center text-start mx-3 ms-0 pb-3 @(ViewBag.SelectedCategoryName?.ToLower() == category.CategoryName.ToLower() ? "active" : "")">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">@category.CategoryDescription</small>
                                <h6 class="mt-n1 mb-0">@category.CategoryName</h6>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (Product product in Model.Products)
                    {
                        <div class="col-lg-6 col-md-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="/img/@product.ProductCode" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>@product.ProductName</span>
                                        <span class="text-primary">@product.Price</span>
                                    </h5>
                                    <small class="fst-italic">@product.ProductDescription</small>
                                    <span>
                                        <a asp-action="Detail" asp-route-id="@product.ProductID"><i>View product</i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
